ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mathparse==0.1.2
nltk==3.6.2
packaging==21.0
Pint==0.17
pycryptodome==3.10.1
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.7.5
pyttsx3==2.90
pytz==2021.1
pywin32==301
PyYAML==3.13
regex==2021.8.28
six==1.16.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.23
tqdm==4.62.2
Werkzeug==2.0.1
